
.header{
  background-image: url('../img/post-image.jpg');
  background-size:cover;
  margin-top: 4rem;
  padding-top: 350px;
  text-align: center;
}






.header__h1{
  font-family: $playfair;
  font-weight: $bold-italic;
  font-size: $xx-large;
  font-style: italic;
  color: $white;
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 20%;
}
