.header__img {
  padding-top: 4rem;
  width: 100%;
}

.header__h1{
  margin-left: 25rem;
  margin-right: 22rem;

  font-family: $playfair;
  font-weight: $bold-italic;
  font-size: $xx-large;
  font-style: italic;
  position: absolute;
   top: 70vh;

   color: $white;
}
